<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_MAINTENANCE_DRIVER" value="file"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_STORE" value="array"/>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_HOST" value="127.0.0.1"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="PULSE_ENABLED" value="false"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">app</directory>
    </include>
    <exclude>
      <directory>app/Console</directory>
      <directory>app/Providers</directory>
      <directory>app/Listeners</directory>
      <directory>app/Notifications</directory>
      <directory>app/Http/Middleware</directory>
      <directory>app/Http/Requests</directory>
      <directory>app/Models</directory>
      <directory>app/DTOs</directory>
      <directory>app/Filament</directory>
      <directory>app/Support</directory>
      <file>app/Http/Controllers/AuthController.php</file>
      <file>app/Http/Controllers/EmailVerificationController.php</file>
      <file>app/Http/Controllers/MinioController.php</file>
      <file>app/Http/Controllers/TencentController.php</file>
      <file>app/Services/SuitcaseGenerator.php</file>
      <file>app/Services/ClothingAssetService.php</file>
      <file>app/Services/ClothingService.php</file>
      <file>app/Services/TextureGenerationService.php</file>
    </exclude>
  </source>
</phpunit>
